.Form{
    background-color: rgb(160, 190, 216);
    padding: 10px 50px;
}

.lista{
    overflow-y: auto;
}

.linha{
    border: 1px black solid;
}
.linha:hover{
    background-color: rgb(197, 231, 245);
}


.titulos{
    background-color: rgb(0, 81, 148);
    color: white;
    font-size: 20px;
}

.celula{
    border: 1px black solid;
}

.menu{
    border: 1px solid black;
    
}

#lixo{
    cursor: pointer;   
}
#lixo:hover{
    color: red;
}