.Form {
    background-color: 
        rgb(160, 190, 216)
    ;
    padding: 10px 50px;
}

.lista {
    overflow-y: auto;
    height: 650px;
    width: 98%;
    margin:0% 1%;
    border-radius:0px 0px 10px 10px ;
    padding: 0px;
    border: 1px solid black;
}

.linha:hover {
    background-color: rgb(197, 231, 245);
}


.titulos {
    background-color: rgb(0, 81, 148);
    color: white;
    font-size: 20px;
    margin: 0% 1%;
    width: 98%;
    border-radius: 10px 10px 0px 0px;
}

.celula {
    border: 1px black solid;
}
